<div class="text-center">
  <p style="display-4">
    £<%= @prefs %>
  </p>
</div>

<div class="graph-container" style="position: relative; height:40vh; width: 60vw;">
  <canvas id="graph"></canvas>
</div>
