<%= render 'layouts/header' %>

<div class="text-center">
  <h1 style="font-size: 80px; color: #008975;">BTC - <%= @prefs.fiat_currency %></h1>
  <h3>Latest price (<%= @prefs.time_interval %>): £<%= @currency.prices.last.price %></h3>
</div>

<div class="graph-container" style="position: relative; height:40vh; width: 60vw;">
  <canvas id="graph"></canvas>
</div>
