<div class="text-center" style="width: 100%">
  <%= image_tag('logo.svg', :style => 'margin-left: -9vw;', :alt => 'pretium') %>
  <%= link_to(bitcoin_index_path) do %>
    <%= content_tag(:button, '<b>Get started</b>'.html_safe, :class => 'btn btn-outline-dark btn-lg btn-navbar-custom') %>
  <% end %>
</div>

<%= render 'layouts/footer' %>
