<div class="text-center" style="width: 100%">
  <%= image_tag('logo.svg', :style => 'margin-left: -9vw;', :alt => 'pretium') %>
  <button type="button" class="btn btn-primary btn-lg">Get started</button>
</div>
