<div class="text-center" style="width: 115%">
  <%= image_tag('logo.svg', :style => "margin-left: 7%;", :alt => 'pretium') %>
  <button type="button" class="btn btn-primary btn-lg" style="margin-left: 17%">Get started</button>
</div>
