<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for getting in touch, <%= @user.name %>!</h1>
    <p>We'll aim to respond to your query as soon as we can!</p>
  </body>
</html>
