@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cantarell');

// Use Eric Meyer's Reset CSS to normalise rendering differences between browsers.
@import 'reset';

$font-stack: Cantarell, sans-serif;
$bg-color: #00bf9a;
$accent-color: #00aa8d;
$accent2-color: #008975;

body {
  font: 100% $font-stack;
  background-color: $bg-color !important;
  overflow: hidden;
}

.title {
  font-size: 250%;
  text-align: center;
  color: #FFFFFF;

}

.logo {
  display: block;
  text-indent: -9999px;
  padding: 0;
  background: url('logo.svg') no-repeat;
  background-size: 40% 40%;
  padding-bottom: calc(100% * 3/4);
  margin-left: 35vw;
  margin-right: auto;
  margin-top: -15vh;
}
