<footer class="footer">
  <div class="container">
    <p class="text-center" style="font-size:14px; color: #008975; margin-top:1vh;">Copyright Alex Potter. All rights reserved.</p>
  </div>
</footer>
