<div class="navbar navbar-fixed-top navbar-custom" style="width: 100%">
  <%= image_tag('logo.svg', :style => 'width: 50%; height: auto; margin-left: -17vw; margin-top: -5vh;') %>

  <div class="col-xs-4">
    <%= link_to(bitcoin_index_path) do %>
      <%= content_tag(:button, '<b>Bitcoin</b>'.html_safe, :class => 'btn btn-outline-dark btn-md', :style => 'color: #008975 !important; border-color: #008975 !important; margin-top: -5vh; margin-right: 10px;') %>
    <% end %>

    <button type="button" class="btn btn-outline-dark btn-md" style="color: #008975 !important; border-color: #008975 !important; margin-top: -5vh;" data-toggle="modal" data-target="#settings-modal"><b>OPTIONS</b></button>
  </div>

  <div id="settings-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-left">Pretium Options</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <p>Sample Text</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
